@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1{
  font-size: calc(20px + 30vh);
  line-height: calc(20px + 30vh);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 10px #e19407, 0 0 10px #db8f02, 0 0 5px #ffa500, 0 0 5px #ae7202, 0 0 20px #ff0000, 0 0 10px #ff8d00, 0 0 20px #bb0505;
    color: #d3c015;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 10s infinite;
  -webkit-animation: blink 10s infinite;
}


@-webkit-keyframes blink {
  20%,
  50%,
  80% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 3px #ffa500, 0 0 15px #ffa500, 0 0 2px #ffa500, 0 0 2px #ffa500, 0 0 10px #ff0000, 0 0 10px #ff8d00, 0 0 10px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  50%,
  80% {
    color: #111;
    text-shadow: none;
  }

  0%,
  15%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 3px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 10px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 10px #ff0000;
    color: #fff6a9;
  }
}
